<!DOCTYPE html>
{% extends 'progress_log/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% block content %}
  <p class="page_title">About {{topic.text}} :</p >
  <p style="text-align:center"><a href="{% url 'progress_log:topic' topic.id %}" >Go to Entries</a></p>
      {% for description in about_topic %}
        <p class="section_title"> {{description.title}} </p>
        {% if description.image.url is not null %}
          <p style="text-align:center;"><img src="{{description.image.url}}"></p>
        {% endif %}
        <p class="body_text">{{description.text}}</p>
        <br>
      {% empty %}
        <p>There are no descriptions for this about topic section</p>
      {% endfor %}
  <br>
  {% endblock content %}
</body>
</html>