<!DOCTYPE html>
{% extends 'progress_log/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Entry</title>
</head>
<body>
  {% block content %}
  <p class="page_title">Add a new entry for {{topic.text}}:</p>
  <div class="body_text">
  <form action="{% url 'progress_log:new_entry' topic.id %}" method='post' enctype="multipart/form-data">
    {% csrf_token %}  <!-- cross-site request forgery for preventing attackers -->
    {{form.as_div}}
    <button name='submit'>Submit</button>
  </form>
  </div>
  {% endblock content %}
</body>
</html>