<!DOCTYPE html>
{% extends 'progress_log/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% block content %}
  <p class="page_title">Entries for {{topic.text}}:</p>
  <p style="text-align:center"><a href="{% url 'progress_log:topic' topic.id %}about" >Return to About Page</a></p>
  <ul>
    {% for entry in entries %}
      <div class="body_text">
        <p class="section_title">{{entry.title}}</p>
        <p style="text-align:center">{{entry.date_added|date:'M d, Y H:i'}}</p>
        {% if entry.image.url is not null %}
          <p style="text-align:center;"><img src="{{entry.image.url}}"></p>
        {% endif %}
        <p>{{entry.text|linebreaks}}</p>
        <br>
      </div>
      {% empty %}
        <li>There are no entries for this topic yet</li>
    {% endfor %}
  </ul>
  <p>
    <a href="{% url 'progress_log:new_entry' topic.id %}">Add new entry</a>
  </p>
  {% endblock content %}
</body>
</html>