<!DOCTYPE html>
{% extends 'progress_log/base.html' %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Topics Section</title>
</head>
<body>
  {% block content %}
    <p>Topics</p>
    <ul>
      {% for topic in topics %}
        <li><a href="{% url 'progress_log:topic' topic.id %}">{{topic.text}}</a></li>
        {% empty %}                                 <!-- Makes line below execute if no items in list -->
        <li>No topics have been added yet</li>
        {% endfor %}                                <!-- End of for loop -->
    </ul>
  {% endblock content %}
</body>
</html>